@model IEnumerable<Project.Data.Models.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div>
        There are @Model.Count() elements in this project.
    </div>

    <ul>
        @foreach(var restaurant in Model)
        {
            <li>Id: @restaurant.Id</li>
            <li>Name: @restaurant.Name</li>
            <li>Cuisine: @restaurant.Cuisine</li>
            <br />
        }
    </td>
  
</div>
